
<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
            class="card-img-top img-thumbnail">
      
        <div class="card-body p-1">
            <strong>Location: </strong>
            <p>{{member.city}},{{member.country}}</p>
    
            <strong>Age: </strong>
            <p>{{member.age}}</p>
    
            <strong>Last Active: </strong>
            <p>{{member.lastActive+"z" |timeago}}</p>
    
            <strong>member science: </strong>
            <p>{{member.created |date:"dd MMM  yyyy"}}</p>
        </div>

        <div class="card-footer">
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Like</button>
                <button class="btn btn-success" (click)="selectTab('Messages')">Message</button>
            </div>
        </div>
    
    </div>
</div>

<div class="col-8">
    <tabset class="member-tabset" #memberTabs >
        <tab heading="About {{member.knownAs}}" id="tab1" (selectTab)="onTabActivate($event)">
            <h4>Description</h4>
            <p>{{member.introduction}}</p>

            <h4>Looking for</h4>
            <p>{{member.lookingFor}}</p>
        </tab>
        <tab heading="Interstes" (selectTab)="onTabActivate($event)">
            <h4>Interstes</h4>
            <p>{{member.interstes}}</p>
        </tab>
        <tab heading="Photos" (selectTab)="onTabActivate($event)">
            <h4>Photos</h4>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="Messages" (selectTab)="onTabActivate($event)">
           <app-member-messages [userName]="member.userName"  [messages]="messages"></app-member-messages>
        </tab>
      </tabset>
</div>

</div>
