<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h1 class="text-center text-primary">Sign Up</h1>
    <hr>
    <div class="mb-3">
        <input
        class="form-control"
         type="text"
        name="userName"
        [(ngModel)]="model.userName"
        placeholder="User Name">
    </div>

    <div class="mb-3">
        <input
        class="form-control"
         type="password"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password">
    </div>

    <div class="text-center">
        <button class="btn btn-success" >Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()" >Cancel</button>
    </div>
</form>